.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;

  .link {
    flex: 1;
    color: rgba(0, 0, 0, 0.54);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    padding-right: 10px;
  }

  .link.link-active {
    $active-color: #6675a9;

    color: $active-color;
    svg {
      fill: $active-color;
    }
  }
}
